.type-guide-wrapper{
  padding: 8px 0;
}
.type-guide:first-child {
  i {
    background-position: -63px -28px;
  }
}
.type-guide:nth-child(3) {
  i {
    background-position: 0 -30px;
  }
}
.type-guide:nth-child(4) {
  i {
    background-position: 0 -60px;
  }
}
.type-guide:nth-child(5) {
  i {
    background-position: 0 -90px;
  }
}

.type-guide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  i {
    width: 24px;
    height: 24px;
    background-image: url('../../../assets/images/type-enter-spirit.png');
  }
}
